body {
  width: 100%;
  font-family: sans-serif;
}

#gameList {
  list-style-type: none;
  padding-left: 0;
  width: 800px;
  text-align: left;
}

.gameListItem {
  display: inline-block;
  background-color: Black;
  border: solid Yellow 1px;
  margin: 0 10px 0 0;
  padding: 10px 15px;
  border-radius: 5px;
}

#errorMessages {
  display: none;
  color: red;
}

#canvas {
  border: solid DarkCyan 2px;
}

#gameMessagesContainer {
  display: table;  /* This is to vertically center the messages */
  position: absolute;  /* We want this positioned in the right over the game area */
  top: 2px;  /* Adjust for the game's borders */
  left: 2px;
  padding: 0;
  margin: 0;
  width: 800px;
  height: 500px;
}

#gameMessages {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 96px;
  padding: 0;
  margin: 0;
}

a {
  color: white;
}

#description {
  font-size: 24px;
  width: 800px;  /* Align as well as we can with the canvas */
}

