body {
  width: 100%;
  text-align: center;
  font-family: sans-serif;
}

#game {
  display: table;
  width: 100%;
}

#gameListContainer {
  display: table-cell;
  width: 10%;
  vertical-align: middle;
}

#gameList {
  list-style-type: none;
  width: 100%;
  padding-left: 0;
}

.gameListItem {
  background-color: Cornsilk;
  border: solid DarkBlue 1px;
  margin: 5px 0 0 0;
  border-radius: 5px;
  width: 100%;
}

#errorMessages {
  display: none;
  vertical-align: middle;
  color: red;
}

#canvasContainer {
  text-align: left;
  display: table-cell;
  position: relative;
  margin: 0;
  padding: 0;
  height: 604px;
}

#canvas {
  border: solid DarkCyan 2px;
  display: block;  /* http://stackoverflow.com/questions/16033982/space-below-a-canvas-in-a-table-cell ???? */
  height: 600px;
  margin: 0;
  padding: 0;
}

#gameMessagesContainer {
  display: table;
  position: absolute;
  top: 2px;
  left: 2px;
  padding: 0;
  margin: 0;
  width: 800px;
  height: 600px;
}

#gameMessages {
  width: 800px;
  height: 600px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 96px;
  padding: 0;
  margin: 0;
}

a {
  color: DarkCyan;
}

#description {
  text-align: left;
  font-size: 24px;
  width: 800px;
  margin-left: 10%;
}

